
TP5/TP5-DepartH18/PolyFusion3D/.vs/PolyFusion3D/v15/.suo
TP5/TP5-DepartH18/PolyFusion3D/.vs/PolyFusion3D/v15/Browse.VC.db
TP5/TP5-DepartH18/PolyFusion3D/.vs/PolyFusion3D/v15/ipch/AutoPCH/16a2742830c3f1cd/OBJET3DTRANSFORM.ipch
TP5/TP5-DepartH18/PolyFusion3D/.vs/PolyFusion3D/v15/ipch/AutoPCH/1a0cf1ab691a62c3/OUTPUTVISITOR.ipch
*.ipch
*.vcxproj
TP5/TP5-DepartH18/PolyFusion3D/PolyFusion3D.vcxproj
